/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

#particles {
  z-index: 0;
}

#particles canvas {
  position: absolute;
  width:100%;
  height: 100%;
  z-index: 0;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
  z-index: 10;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Multiplication Table
*/
table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

tbody {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

tbody > tr > td {
  background-color: white;
  border: 3px solid #663300;
  color: black;
  height: 50px;
  font-size: 150%;
  font-weight: 800;
  padding: 15px;
  text-align: center;
}

tbody > tr:first-child > td {
  background-color: black;
  color: white;
}

tbody > tr > td:first-child {
  background-color: black;
  color: white;
}

tbody > tr:first-child > td:first-child {
  border-top: none;
  border-left: none;
  opacity: 0;
}
